.paragraph{
    color: #c84b70;
    font-size: 24px;
    background-color: rgba(211, 157, 235, 0.814);
    height: 50px;
}

h2{
    border: 1px solid black;
}
#background-section{
    width: 40%;
    border: 2px solid black;
    text-align: center;
    letter-spacing: 10px;
}

#background-section p{
    height: auto;
}

#typography-section p{
    width: 40%;
    height: auto;
}

#colors-paragraph{
    text-decoration: underline;
    font-family: Arial;
}

#myLink{
    text-decoration: none;
}

[target]{
    color: orange;
}